@()(implicit request: Request[_], messagesApi: MessagesApi, messages: Messages)

@main_template(title = messagesApi("pages.timeoutiv.title"), backEnabled = false) {
    <header class="page-header">
        <h1 class="form-title heading-xlarge" id="main-heading">@messagesApi("pages.timeoutiv.heading")</h1>
    </header>


    <div class="form-group">
        <p>@Html(messagesApi("pages.timeoutiv.body.url", features.officer.controllers.routes.IdentityVerificationController.redirectToIV().url))</p>
    </div>
}