@()(implicit request: Request[_], messagesApi: MessagesApi, messages: Messages)
@import views.html.helpers.templates.newWindowLink

@main_template(title = messagesApi("pages.useraborted.title"), backEnabled = false) {
    <header class="page-header">
        <h1 class="form-title heading-xlarge" id="main-heading">@messagesApi("pages.useraborted.heading")</h1>
    </header>

    <div class="form-group">
        <p>@Html(messagesApi("pages.useraborted.body1.url", features.officer.controllers.routes.IdentityVerificationController.redirectToIV().url))</p>
        <p>@messagesApi("pages.useraborted.body2.url")
            @newWindowLink("https://online.hmrc.gov.uk/registration/newbusiness/business-allowed", messages("pages.useraborted.body2.link"))</p>
    </div>
}