@import models.view.vatFinancials.ZeroRatedSales
@(zeroRatedSalesForm:  Form[ZeroRatedSales])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{vatInputRadioGroup, errorSummary}
@import views.html.helpers.templates.newWindowLink

@main_template(title = messages("pages.zero.rated.sales.title")) {

  @errorSummary(
    Messages("app.common.errorSummaryLabel"),
    zeroRatedSalesForm
  )

  <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.zero.rated.sales.heading")</h1>

  <p>@Html(Messages("pages.zero.rated.sales.para1"))</p>

  <div class="form-group">
      <details role="group">
          <summary role="button" aria-controls="details-content-1" aria-expanded="false"><span class="summary">
          @Html(messages("pages.zero.rated.sales.examples.title"))
          </span></summary>
          <div class="panel panel-indent" id="details-content-1" aria-hidden="true">
              <p>@messages("pages.zero.rated.sales.examples.p1")</p>
              <p>@messages("pages.zero.rated.sales.examples.p2")</p>
              <ul class="list list-bullet">
                  <li>@Html(Messages("pages.zero.rated.sales.examples.bullet1"))</li>
                  <li>@Html(Messages("pages.zero.rated.sales.examples.bullet2"))</li>
                  <li>@Html(Messages("pages.zero.rated.sales.examples.bullet3"))</li>
                  <li>@Html(Messages("pages.zero.rated.sales.examples.bullet4"))</li>
              </ul>
              <p>@Messages("pages.zero.rated.sales.examples.p3")
                  @newWindowLink("https://www.gov.uk/guidance/rates-of-vat-on-different-goods-and-services", Messages("pages.zero.rated.sales.examples.p3.1"))</p>
          </div>
      </details>
  </div>

  @govHelpers.form(action = controllers.vatFinancials.routes.ZeroRatedSalesController.submit()) {
  <div class="form-group">
    <fieldset class="inline">
        <span id="zeroRatedSalesRadio"/>
        @vatInputRadioGroup(
            field = zeroRatedSalesForm("zeroRatedSalesRadio"),
            Seq(
              ZeroRatedSales.ZERO_RATED_SALES_YES -> Messages("app.common.yes"),
              ZeroRatedSales.ZERO_RATED_SALES_NO -> Messages("app.common.no")
            ),
            '_labelAfter -> true,
            '_labelClass -> "block-label"
        )
    </fieldset>
   
  </div>

  <div class="form-group">
    <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
  </div>

  }
}
