@(bankDetailsForm: Form[models.BankAccountDetails])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, vatInput}

@main_template(title = messages("pages.bankDetails.title")) {

    @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        bankDetailsForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.bankDetails.heading")</h1>

    <p>@messages("pages.bankDetails.para1")</p>

    <div class="notice form-group">
        <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">@messages("pages.bankDetails.info")</strong>
    </div>

    @govHelpers.form(action = features.bankAccountDetails.routes.BankAccountDetailsController.submitEnterCompanyBankAccountDetails()) {
        <div class="form-group">
            <div class="form-bank-details">

                @vatInput(
                    bankDetailsForm("accountName"),
                    '_divClass -> "form-group",
                    '_inputClass -> "form-control",
                    '_labelClass -> "cascading",
                    '_maxlength -> 150,
                    '_inputHint -> messages("pages.bankDetails.accountName.hint"),
                    '_label -> messages("pages.bankDetails.accountName.label"),
                    '_autoComplete -> "off"
                )

                @defining(bankDetailsForm("sortCodeAndAccountGroup").errors.nonEmpty) { invalidCombinationErrorFound =>
                <div id="sortCodeAndAccountGroup" class="@if(invalidCombinationErrorFound) { form-group-error }">

                    <label>
                        @bankDetailsForm("sortCodeAndAccountGroup").errors.map { error =>
                        <span class="error-notification" role="tooltip">
                            @messages(error.message, error.args: _*)
                        </span>
                        }
                    </label>

                    @vatInput(
                        bankDetailsForm("accountNumber"),
                        '_type -> "text",
                        '_divClass -> "form-group",
                        '_inputClass -> "form-control",
                        '_labelClass -> "cascading",
                        '_maxlength -> 8,
                        '_label -> messages("pages.bankDetails.accountNumber.label"),
                        '_autoComplete -> "off"
                    )

                    @defining(bankDetailsForm("sortCode").errors.nonEmpty) { sortCodeErrorPresent =>
                        <div class="form-date @if(sortCodeErrorPresent) { form-group-error }">

                            <fieldset id="sort-code">

                                <label>
                                    @bankDetailsForm("sortCode").errors.map { error =>
                                        <span class="error-notification" role="tooltip">
                                            @messages(error.message, error.args: _*)
                                        </span>
                                    }
                                    @messages("pages.bankDetails.sortCode.label")
                                    @*this is to make the clickable link in the error summary jump to the relevant place in the page*@
                                    <input type="text" name="sortCode" value="" id="sortCode" class="hidden" />
                                </label>

                                @vatInput(
                                    bankDetailsForm("sortCode.part1"),
                                    '_type -> "text",
                                    '_divClass -> "form-group",
                                    '_inputClass -> "form-control",
                                    '_label -> "first two digits",
                                    '_maxlength -> 2,
                                    '_labelTextClass -> "hidden",
                                    '_error_id -> "sort-code-legend",
                                    '_autoComplete -> "off"
                                )

                                @vatInput(
                                    bankDetailsForm("sortCode.part2"),
                                    '_type -> "text",
                                    '_divClass -> "form-group",
                                    '_inputClass -> "form-control",
                                    '_label -> "second two digits",
                                    '_maxlength -> 2,
                                    '_labelTextClass -> "hidden",
                                    '_error_id -> "sort-code-legend",
                                    '_autoComplete -> "off"
                                )

                                @vatInput(
                                    bankDetailsForm("sortCode.part3"),
                                    '_type -> "text",
                                    '_divClass -> "form-group",
                                    '_inputClass -> "form-control",
                                    '_label -> "last two digits",
                                    '_maxlength -> 2,
                                    '_labelTextClass -> "hidden",
                                    '_error_id -> "sort-code-legend",
                                    '_autoComplete -> "off"
                                )
                            </fieldset>
                        </div>
                    }
                </div>
                }
            </div>
        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready($(function () {
        CompanyBankAccountDetailsPage.init()
    }));
</script>