@(otrs_url: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = messages("pages.ppobdropout.title")) {

<header class="page-header">
    <h1 class="form-title heading-large" id="pageHeading">@messages("pages.ppobdropout.heading")</h1>
</header>

<p id="dropoutText1">@messages("pages.ppobdropout.p1")</p>

<p id="dropoutText2">@messages("pages.ppobdropout.p2") <a id="dropoutUrl" href=@otrs_url>@Messages("pages.ppobdropout.url")</a>.</p>

}