@()(implicit request: Request[_], messagesApi: MessagesApi, messages: Messages)

@main_template(title = messagesApi("pages.useraborted.title"), backEnabled = false) {
    <header class="page-header">
        <h1 class="form-title heading-xlarge" id="main-heading">@messagesApi("pages.useraborted.heading")</h1>
    </header>

    <div class="form-group">
        <p>@Html(messagesApi("pages.useraborted.body1.url", controllers.callbacks.routes.SignInOutController.postSignIn.url))</p>
        <p>@Html(messagesApi("pages.useraborted.body2.url", "https://online.hmrc.gov.uk/registration/newbusiness/business-allowed"))</p>
    </div>
}