@import forms.EuGoodsForm
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, verticalInputRadioGroup}

@(euGoodsForm: Form[Boolean])(implicit request: Request[_], messages: Messages)

@hiddenYesContent = {
    <div class="panel panel-border-narrow">
        <p>@messages("pages.euGoods.yes.p1")</p>
        <p>@messages("pages.euGoods.yes.p2")</p>
    </div>
}

@main_template(title = messages("pages.euGoods.title")) {

    @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        euGoodsForm
    )

    <h1 class="form-title heading-large" id="pageHeading">@messages("pages.euGoods.heading")</h1>

    @govHelpers.form(action = controllers.routes.TradingDetailsController.submitEuGoods()) {
        <div class="form-group">
            @verticalInputRadioGroup(
                field = euGoodsForm("euGoodsRadio"),
                Seq(
                    "true" -> messages("app.common.yes"),
                    "false" -> messages("app.common.no")
                ),
                Map(
                    "true" -> hiddenYesContent
                ),
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_legend -> messages("pages.euGoods.heading"),
                '_legendClass -> "visually-hidden"
            )
        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>

    }
}
