@import forms.EuGoodsForm
@(euGoodsForm: Form[Boolean])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{vatInputRadioGroup, errorSummary}

@main_template(title = messages("pages.euGoods.title")) {

    @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        euGoodsForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.euGoods.heading")</h1>

    <p>@messages("pages.euGoods.p1")</p>

    @govHelpers.form(action = controllers.routes.TradingDetailsController.submitEuGoods()) {
        <div class="form-group">
            <fieldset class="inline">
                <span id="euGoodsRadio"/>

                @vatInputRadioGroup(
                    field = euGoodsForm("euGoodsRadio"),
                    Seq(
                        "true" -> Messages("app.common.yes"),
                        "false" -> Messages("app.common.no")
                    ),
                    '_labelAfter -> true,
                    '_labelClass -> "block-label"
                )
            </fieldset>
        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>

    }
}
