@import forms.TradingNameForm
@(tradingNameForm: Form[(Boolean, Option[String])], companyName: String)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@fieldSetClasses = @{
    if(tradingNameForm.hasErrors && (tradingNameForm.errors.exists(_.args.nonEmpty))) "form-field--error" else ""
}
@import views.html.helpers.templates.{errorSummary, vatInput, vatInputRadioGroup}

@main_template(title = messages("pages.tradingName.title")) {

    @errorSummary(
    Messages("app.common.errorSummaryLabel"),
    tradingNameForm,
    Seq("tradingName")
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.tradingName.heading")</h1>

    <p id="lead-paragraph">@messages("pages.tradingName.lede", companyName)</p>

    <details role="group" class="form-group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
            <span class="summary">@messages("pages.tradingName.panel.para1")</span>
        </summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
            <p>@messages("pages.tradingName.panel.para2")</p>
            <p>@messages("pages.tradingName.panel.para3")</p>
        </div>
    </details>

    @govHelpers.form(action = controllers.routes.TradingDetailsController.submitTradingName()) {
        <div class="form-group">
            @vatInputRadioGroup(
                field = tradingNameForm("tradingNameRadio"),
                Seq(
                    "true" -> Messages("app.common.yes"),
                    "false" -> Messages("app.common.no")
                ),
                '_groupClass -> "inline",
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_legend -> messages("pages.tradingName.heading"),
                '_legendClass -> "visually-hidden"
            )

            <div class="panel panel-border-narrow hidden @fieldSetClasses" id="trading_name_panel">

                @tradingNameForm.errors.find(_.args.contains("tradingName")).map { error =>
                    @govHelpers.errorInline("tradingName", Messages(error.message))
                }

                @vatInput(
                    tradingNameForm("tradingName"),
                    '_divClass -> "form-group",
                    '_inputClass -> "form-control cascading",
                    '_label -> Messages("pages.tradingName.tradingNameLabel"),
                    '_labelClass -> "form-label",
                    '_inputHint -> messages("pages.tradingdetails.input.hint-text")
                )

            </div>
        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>
    }
}

<script type="text/javascript">
        $(document).ready($(function () {
            TradingNamePage.init()
        }));
</script>