@import models.YesOrNoQuestion
@(applyingForAnyOfForm: Form[YesOrNoQuestion])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{vatInputRadioGroup, errorSummary}

@main_template(title = messages("pages.eligibility.applyingForAnyOf.title")) {

    @errorSummary(
        messages("app.common.errorSummaryLabel"),
        applyingForAnyOfForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.eligibility.applyingForAnyOf.heading")</h1>

    <p>@messages("pages.eligibility.applyingForAnyOf.p1")</p>
    <p>@messages("pages.eligibility.applyingForAnyOf.p2")</p>

    @govHelpers.form(action = controllers.vatEligibility.routes.ServiceCriteriaQuestionsController.submit("applyingForAnyOf")) {
        <div class="form-group">
            <fieldset class="inline">
                <span id="applyingForAnyOfRadio"/>

                @vatInputRadioGroup(
                    field = applyingForAnyOfForm("applyingForAnyOfRadio"),
                    Seq(
                        "true" -> messages("app.common.yes"),
                        "false" -> messages("app.common.no")
                    ),
                    '_labelAfter -> true,
                    '_labelClass -> "block-label"
                )
            </fieldset>
        </div>

        <div class="form-group">
            <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>

    }
}
