@import models.YesOrNoQuestion
@(doAnyApplyToYouForm: Form[YesOrNoQuestion])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary

@main_template(title = messages("pages.eligibility.doAnyApplyToYou.title")) {

    <div class="column-two-thirds">

        @errorSummary(
        messages("app.common.errorSummaryLabel"),
        doAnyApplyToYouForm
        )

        <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.eligibility.doAnyApplyToYou.heading")</h1>

        <p>@messages("pages.eligibility.doAnyApplyToYou.p1")</p>

        <div class="form-group">
            <ul class="list list-bullet">
                <li>@Html(messages("pages.eligibility.doAnyApplyToYou.bullet1"))</li>
                <li>@Html(messages("pages.eligibility.doAnyApplyToYou.bullet2"))</li>
                <li>@Html(messages("pages.eligibility.doAnyApplyToYou.bullet3"))</li>
                <li>@Html(messages("pages.eligibility.doAnyApplyToYou.bullet4"))</li>
            </ul>
        </div>

        @govHelpers.form(action = controllers.vatEligibility.routes.ServiceCriteriaQuestionsController.submit("doAnyApplyToYou")) {
            <div class="form-group">
                <fieldset class="inline">
                    <span id="doAnyApplyToYouRadio"/>

                    @govHelpers.inputRadioGroup(
                        field = doAnyApplyToYouForm("doAnyApplyToYouRadio"),
                        Seq(
                            "true" -> messages("app.common.yes"),
                            "false" -> messages("app.common.no")
                        ),
                        '_labelAfter -> true,
                        '_labelClass -> "block-label"
                    )
                </fieldset>
            </div>

            <div class="form-group">
                <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
            </div>

        }

    </div>

}
