@import models.YesOrNoQuestion
@(doingBusinessAbroadForm: Form[YesOrNoQuestion])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary

@main_template(title = messages("pages.eligibility.doingBusinessAbroad.title")) {

    <div class="column-one-third">

        @errorSummary(
        messages("app.common.errorSummaryLabel"),
        doingBusinessAbroadForm
        )

        <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.eligibility.doingBusinessAbroad.heading")</h1>

        <p>@messages("pages.eligibility.doingBusinessAbroad.p1")</p>

        <div class="form-group">
            <ul class="list list-bullet">
                <li>@Html(messages("pages.eligibility.doingBusinessAbroad.bullet1"))</li>
                <li>@messages("pages.eligibility.doingBusinessAbroad.bullet2")</li>
                <li>@messages("pages.eligibility.doingBusinessAbroad.bullet3")</li>
                <li>@messages("pages.eligibility.doingBusinessAbroad.bullet4")</li>
                <li>@messages("pages.eligibility.doingBusinessAbroad.bullet5")</li>
            </ul>
        </div>

        @govHelpers.form(action = controllers.vatEligibility.routes.ServiceCriteriaQuestionsController.submit("doingBusinessAbroad")) {
            <div class="form-group">
                <fieldset class="inline">
                    <span id="doingBusinessAbroadRadio"/>

                    @govHelpers.inputRadioGroup(
                        field = doingBusinessAbroadForm("doingBusinessAbroadRadio"),
                        Seq(
                            "true" -> messages("app.common.yes"),
                            "false" -> messages("app.common.no")
                        ),
                        '_labelAfter -> true,
                        '_labelClass -> "block-label"
                    )
                </fieldset>
            </div>


            <div class="form-group">
                <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
            </div>

        }

    </div>

}
