@import features.officer.models.view.SecurityQuestionsView
@(securityQuestionsForm: Form[SecurityQuestionsView])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, vatInput}

@main_template(title = messages("pages.security.questions.title")) {

  @errorSummary(
  messages("app.common.errorSummaryLabel"),
  securityQuestionsForm
  )

  <header class="page-header">
      <h1 class="form-title heading-large" id="pageHeading">@messages("pages.security.questions.heading")</h1>
  </header>

  <p>@messages("pages.security.questions.p1")</p>
  <h2 class="form-title heading-medium">@messages("pages.security.questions.date.of.birth.h3")</h2>

  @govHelpers.form(action = features.officer.controllers.routes.OfficerController.submitSecurityQuestions()) {
  <div class="form-group">
      @defining(securityQuestionsForm("dob").errors.nonEmpty) { errorPresent =>
          <div class="form-date @if(errorPresent) { form-group-error }">
          <fieldset id="dobField">
            <legend class="visually-hidden">@messages("pages.security.questions.date.of.birth.h3")</legend>
              @securityQuestionsForm.error("dob").map { error =>
                  <span class="error-notification" role="tooltip">
                      @messages(error.message, error.args: _*)
                  </span>
              }
              <span class="form-hint">@messages("pages.security.questions.date.of.birth.hint")</span>

              @vatInput(
                  securityQuestionsForm("dob.day"),
                  '_label -> messages("pages.security.questions.day.label"),
                  '_labelClass -> "form-group form-group-day",
                  '_type -> "tel",
                  '_inputClass -> s"form-control input--xsmall",
                  '_maxlength -> "2"
              )

              @vatInput(
                  securityQuestionsForm("dob.month"),
                  '_label -> messages("pages.security.questions.month.label"),
                  '_labelClass -> "form-group form-group-month",
                  '_type -> "tel",
                  '_inputClass -> s"form-control input--xsmall",
                  '_maxlength -> "2"
              )

              @vatInput(
                  securityQuestionsForm("dob.year"),
                  '_label -> messages("pages.security.questions.year.label"),
                  '_labelClass -> "form-group form-group-year",
                  '_type -> "tel",
                  '_inputClass -> s"form-control input--xsmall",
                  '_maxlength -> "4"
              )
              @*this is to make the clickable link in the error summary jump to the relevant place in the page*@
              <input type="hidden" name="dob" value="" id="dob" class="hidden" />
          </fieldset>
          </div>

          <h2 class="form-title heading-medium">@messages("pages.security.questions.nino.h3")</h2>
          <p>@messages("pages.security.questions.nino.p1")</p>
          <fieldset id="ninoField">
            <legend class="visually-hidden">@messages("pages.security.questions.nino.h3")</legend>
            <span class="form-hint">@messages("pages.security.questions.nino.hint")</span>
            @vatInput(
                securityQuestionsForm("nino"),
                '_inputClass -> "form-control",
                '_minlength -> 13,
                '_maxlength -> 13,
                '_label -> messages("pages.security.questions.nino.h3"),
                '_labelTextClass -> "hidden",
                '_labelClass -> "form-label"
            )
          </fieldset>
              
  }
  </div>
  <div class="form-group">
    <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
  </div>

  }
}

<script type="text/javascript">
        $(document).ready($(function () {
            OfficerDOBPage.init()
        }));
</script>
