@import 'form-validation.css';
@import 'taas.css';

/* Custom box shaded for confirmation page */
.box-shaded-grey {
    margin: 1em 0;
    padding: 2em 1em;
    color: white;
    background: #6f777b;
    text-align: center;
}

/* position labels above input fields in cascading forms */
label.cascading span {
	display: block;
}


.hidden {
	display: none;
}

.change-answer {
	text-align: right;
	font-weight: bold;
	padding-right: 0;
}

.notice {
	position: relative;
}
.notice .icon {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -17px;
}

.icon-important {
	width: 35px;
	height: 35px;
}

.notice strong {
	display: block;
	padding-left: 65px;
	margin-left: -15px;
}

.white--color {
	color: #fff
}

td {
	width: 50%;
	vertical-align: top
}

#sort-code legend{
	margin-bottom: 0;
}

.form-bank-details .form-hint {
	margin-top: 0;
	margin-bottom:0;
}


.char-counter .fill-width {
	width: 100%
}

.char-counter-text {
    text-align: left;
}

.govuk-button--secondary{background-color:#f3f2f1 !important;-webkit-box-shadow:0 2px 0 #929191 !important;box-shadow:0 2px 0 #929191  !important}
.govuk-button--secondary,.govuk-button--secondary:active,.govuk-button--secondary:hover,.govuk-button--secondary:link,.govuk-button--secondary:visited{color:#0b0c0c !important}
.govuk-button--secondary:hover{background-color:#dbdad9 !important}
.govuk-button--secondary:hover[disabled]{background-color:#f3f2f1 !important}