/*
	Remove inherited float style form HMRC from .content__body which breaks layout of back button
	https://github.com/hmrc/assets-frontend/blob/3610585baeb96bb4ad9d73d20cfb73864e095b50/assets/scss/layouts/_page.scss#L59

	There are plans to update and remove .content__body styles, but until then we need this fix in place.
*/

@media (min-width: 641px) {
	.content__body {
	    float: none;
	}
}

/* ---- Get help with this page link over rides ---- */

.report-error .report-error__toggle {
	font-size: 16px;
}

@media (min-width: 641px) {
	.report-error .report-error__toggle {
		font-size: 19px;
	}
}

.report-error {
	margin-top: 0;
}
