@import helpers.templates.summaryRow
@import models.view.Summary
@import uk.gov.hmrc.play.views.html.helpers.form
@(summaryModel: Summary, dateOfIncorporation: String)(implicit request: Request[_], messages: Messages)

@main_template(title = messages("pages.thresholdSummary.title")) {

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.thresholdSummary.heading")</h1>

    @for(section <- summaryModel.sections) {
        @if(section.display) {

            <section>
                <table class="check-your-answers form-group">
                    @*To show grey line at top of section*@
                    <tr>
                        <th style="white-space: normal;
                            width: 50%;" class="question"></th>
                        <td class="answer"></td>
                        <td class="change"><span class="visuallyhidden"></span></td>
                    </tr>
                    @*Iterates to display sections and rows*@
                    @for((row, doDisplayRow) <- section.rows) {
                        @if(doDisplayRow) {
                            @summaryRow(row, dateOfIncorporation)
                        }
                    }
                </table>
            </section>
        }
    }

    @form(action = controllers.vatTradingDetails.vatChoice.routes.ThresholdSummaryController.submit()) {
        <div class="form-group">
            <button class="btn button" role="button" id="confirm-and-continue">@messages("app.common.confirmAndContinue")</button>
        </div>
    }

}