@import models.view.vatContact.BusinessContactDetails
@(businessContactDetailsForm: Form[BusinessContactDetails])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary
@fieldSetClasses = @{
    if(businessContactDetailsForm.hasErrors && businessContactDetailsForm.errors.exists(_.args.nonEmpty)) "form-field--error" else ""
}

@main_template(title = messages("pages.businessContactDetails.title")) {

  <div class="column-one-third">

      <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.businessContactDetails.heading")</h1>

      @errorSummary(
          Messages("app.common.errorSummaryLabel"),
          businessContactDetailsForm,
          Seq("businessContactDetails")
      )

      <p>@Html(Messages("pages.businessContactDetails.para1"))</p>
      <p>@Html(Messages("pages.businessContactDetails.para2"))</p>

      <div class="notice form-group">
          <i class="icon icon-important">
              <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">@messages("pages.businessContactDetails.info")</strong>
      </div>

      @govHelpers.form(action = controllers.vatContact.routes.BusinessContactDetailsController.submit()) {
          <div class="form-group @fieldSetClasses">
              <fieldset>

                  @businessContactDetailsForm.errors.find(_.args.contains("businessContactDetails")).map { error =>
                      @govHelpers.errorInline("businessContactDetails", messages(error.message))
                  }

              </fieldset>

          </div>

          <div class="form-group">
              <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
          </div>
      }

    </div>

}
