@import models.view.vatContact.BusinessContactDetails
@(businessContactDetailsForm: Form[BusinessContactDetails])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary

@main_template(title = messages("pages.businessContactDetails.title")) {

  <div class="column-one-third">

      <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.businessContactDetails.heading")</h1>

      @errorSummary(
          messages("app.common.errorSummaryLabel"),
          businessContactDetailsForm
      )

      <p>@Html(messages("pages.businessContactDetails.para1"))</p>

      @govHelpers.form(action = controllers.vatContact.routes.BusinessContactDetailsController.submit()) {
          <div class="form-group">
              <fieldset>

                  <legend>@Html(messages("pages.businessContactDetails.para2"))</legend>

                  @businessContactDetailsForm.errors.find(_.args.contains("businessContactDetails")).map { error =>
                      @govHelpers.errorInline("businessContactDetails", messages(error.message))
                  }

                  @govHelpers.input(
                      businessContactDetailsForm("email"),
                      '_divClass -> "form-group",
                      '_inputClass -> "form-control",
                      '_labelClass -> "cascading",
                      '_maxlength -> 70,
                      '_label -> messages("pages.businessContactDetails.emailAddress.label")
                  )

                  <div class="panel indent" id="details-content-0" aria-hidden="true">
                      <p>@Html(messages("pages.businessContactDetails.para3"))</p>
                  </div>
                  <br />

                  @govHelpers.input(
                      businessContactDetailsForm("daytimePhone"),
                      '_type -> "text",
                      '_divClass -> "form-group",
                      '_inputClass -> "form-control",
                      '_labelClass -> "cascading",
                      '_maxlength -> 20,
                      '_label -> messages("pages.businessContactDetails.daytimePhone.label")
                  )

                  @govHelpers.input(
                      businessContactDetailsForm("mobile"),
                      '_type -> "text",
                      '_divClass -> "form-group",
                      '_inputClass -> "form-control",
                      '_labelClass -> "cascading",
                      '_maxlength -> 20,
                      '_label -> messages("pages.businessContactDetails.mobile.label")
                  )


                  @govHelpers.input(
                      businessContactDetailsForm("website"),
                      '_type -> "text",
                      '_divClass -> "form-group",
                      '_inputClass -> "form-control",
                      '_labelClass -> "cascading",
                      '_maxlength -> 255,
                      '_label -> messages("pages.businessContactDetails.website.label")
                  )

              </fieldset>

          </div>

          <div class="form-group">
              <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
          </div>
      }

    </div>

}

<script type="text/javascript">
        $(document).ready($(function () {
            BusinessContactDetailsPage.init()
        }));
</script>