@import models.view.sicAndCompliance.financial.LeaseVehicles
@(leaseVehiclesForm: Form[LeaseVehicles])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{vatInputRadioGroup, errorSummary}

@main_template(title = messages("pages.financialCompliance.leaseVehicles.title")) {

    <div class="column-one-third">

        @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        leaseVehiclesForm
        )

        <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.financialCompliance.leaseVehicles.heading")</h1>

        <p>
        @messages("pages.financialCompliance.leaseVehicles.para")
        </p>

        @govHelpers.form(action = controllers.sicAndCompliance.financial.routes.LeaseVehiclesController.submit()) {
            <div class="form-group">
                <fieldset class="inline">
                    <span id="leaseVehiclesRadio"></span>

                    @vatInputRadioGroup(
                        field = leaseVehiclesForm("leaseVehiclesRadio"),
                        Seq(
                            "true" -> Messages("app.common.yes"),
                            "false" -> Messages("app.common.no")
                        ),
                        '_labelAfter -> true,
                        '_labelClass -> "block-label"
                    )
                </fieldset>
            </div>

            <div class="form-group">
                <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.continue")</button>
            </div>

        }

    </div>

}
