@(estimateVatTurnoverForm: Form[Long])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, newWindowLink, vatInput}

@fieldSetClasses = @{
    if(estimateVatTurnoverForm.hasErrors && estimateVatTurnoverForm.errors.exists(_.args.nonEmpty)) "form-field--error" else ""
}

@main_template(title = messages("pages.estimate.vat.turnover.title")) {

  @errorSummary(
    messages("app.common.errorSummaryLabel"),
    estimateVatTurnoverForm,
    Seq("turnoverEstimate")
  )

  <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.estimate.vat.turnover.heading")</h1>

  <div class="panel panel-border-wide form-group">
      <p>@messages("pages.estimate.vat.turnover.info")</p>
  </div>

  <details role="group" class="form-group">
      <summary role="button" aria-controls="details-content-1" aria-expanded="false">
            <span class="summary">
              @Html(messages("pages.estimate.vat.turnover.include.title"))
            </span>
      </summary>
      <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
          <p>@Html(messages("pages.estimate.vat.turnover.include.bullet1"))</p>
          <p>@messages("pages.estimate.vat.turnover.include.para1")
              @newWindowLink("https://www.gov.uk/guidance/rates-of-vat-on-different-goods-and-services", messages("pages.estimate.vat.turnover.include.para1.1"))
              @messages("pages.estimate.vat.turnover.include.para1.2")</p>
      </div>
  </details>

  @govHelpers.form(action = features.turnoverEstimates.routes.TurnoverEstimatesController.submitEstimateVatTurnover) {
      <div class="form-group @fieldSetClasses">
          <fieldset>
              @estimateVatTurnoverForm.errors.find(_.args.contains("turnoverEstimate")).map { error =>
                  @govHelpers.errorInline("turnoverEstimate", messages(error.message))
              }

              @vatInput(
                  estimateVatTurnoverForm("turnoverEstimate"),
                  '_inputClass -> "form-control",
                  '_label -> messages("app.common.gbp.symbol"),
                  '_labelClass -> "form-label"
              )
          </fieldset>
      </div>

      <div class="form-group">
          <button class="btn button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
      </div>
  }
}

<script type="text/javascript">
        $(document).ready($(function () {
            EstimateVatTurnoverPage.init()
        }));
</script>