@import models.view.vatLodgingOfficer.FormerNameView
@(formerNameForm: Form[FormerNameView])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@fieldSetClasses = @{
    if(formerNameForm.hasErrors && (formerNameForm.errors.exists(_.args.nonEmpty))) "form-field--error" else ""
}
@import views.html.helpers.templates.{vatInputRadioGroup, vatInput, errorSummary}

@main_template(title = messages("pages.formerName.title")) {

    <div class="grid-row">
        <div class="column-two-thirds">

            @errorSummary(
            Messages("app.common.errorSummaryLabel"),
            formerNameForm,
            Seq("formerName")
            )

            <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.formerName.heading")</h1>

            @govHelpers.form(action = controllers.vatLodgingOfficer.routes.FormerNameController.submit()) {
                <div class="form-group">
                    <fieldset class="inline">
                        <span id="formerNameRadio"/>
                        @vatInputRadioGroup(
                            field = formerNameForm("formerNameRadio"),
                            Seq(
                                "true" -> Messages("app.common.yes"),
                                "false" -> Messages("app.common.no")
                            ),
                            '_labelAfter -> true,
                            '_labelClass -> "block-label"
                        )

                        <div class="panel panel-indent hidden @fieldSetClasses" id="former_name_panel">

                            @formerNameForm.errors.find(_.args.contains("formerName")).map { error =>
                                @govHelpers.errorInline("formerName", Messages(error.message))
                            }

                            @vatInput(
                                formerNameForm("formerName"),
                                '_divClass -> "form-group",
                                '_inputClass -> "form-control",
                                '_label -> Messages("pages.formerName.fullName.label"),
                                '_inputHint -> Messages("pages.formerName.fullName.hint"),
                                '_labelClass -> "form-label"
                            )

                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
                </div>
            }

        </div>
    </div>

}

<script type="text/javascript">
        $(document).ready($(function () {
            FormerNamePage.init()
        }));
</script>