@import frs.AnnualCosts
@(annualCostsInclusiveForm:  Form[AnnualCosts.Value], estimateVatTurnover : Long)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, vatInputRadioGroup}

@main_template(title = messages("pages.frs.costsLimited.title")) {

  @errorSummary(
      Messages("app.common.errorSummaryLabel"),
      annualCostsInclusiveForm
  )

  <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.frs.costsLimited.heading1", "%,d".format(estimateVatTurnover))</h1>

  <p>@Html(messages("pages.frs.costsLimited.p1"))</p>

  @govHelpers.form(action = controllers.routes.FlatRateController.submitAnnualCostsLimited()) {
  <div class="form-group">
      @vatInputRadioGroup(
        field = annualCostsInclusiveForm("annualCostsLimitedRadio"),
        Seq(
            AnnualCosts.AlreadyDoesSpend.toString() -> messages("app.common.yes"),
            AnnualCosts.WillSpend.toString() -> messages("pages.frs.costsLimited.radio2"),
            AnnualCosts.DoesNotSpend.toString() -> messages("pages.frs.costsLimited.radio3")
        ),
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legend -> messages("pages.frs.costsLimited.heading1", "%,d".format(estimateVatTurnover)),
        '_legendClass -> "visually-hidden"
      )
  </div>

  <div class="form-group">
    <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
  </div>

  }
}