@(annualCostsInclusiveForm:  Form[Boolean], estimateVatTurnover : Long)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, vatInputRadioGroup}

@main_template(title = messages("pages.frs.costsLimited.title")) {

  @errorSummary(
      Messages("app.common.errorSummaryLabel"),
      annualCostsInclusiveForm
  )

  <h1 class="form-title heading-large" id="pageHeading">@messages("pages.frs.costsLimited.heading1", "%,d".format(estimateVatTurnover))</h1>

  @govHelpers.form(action = features.frs.controllers.routes.FlatRateController.submitAnnualCostsLimited()) {
  <div class="form-group">
      @vatInputRadioGroup(
        field = annualCostsInclusiveForm("annualCostsLimitedRadio"),
        Seq(
            "true" -> messages("app.common.yes"),
            "false" -> messages("app.common.no")
        ),
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legend -> messages("pages.frs.costsLimited.heading1", "%,d".format(estimateVatTurnover)),
        '_legendClass -> "visually-hidden"
      )
  </div>

  <div class="form-group">
    <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
  </div>

  }
}