@import models.view.frs.AnnualCostsInclusiveView
@(annualCostsInclusiveForm:  Form[AnnualCostsInclusiveView])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary
@import views.html.helpers.templates.vatInputRadioGroup

@main_template(title = messages("pages.frs.costsInclusive.title")) {

  <div class="column-two-thirds">

      @errorSummary(
          Messages("app.common.errorSummaryLabel"),
          annualCostsInclusiveForm
      )

      <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.frs.costsInclusive.heading")</h1>

      <p>@Html(messages("pages.frs.costsInclusive.p1"))</p>

      @govHelpers.form(action = controllers.frs.routes.AnnualCostsInclusiveController.submit()) {
      <div class="form-group">
        <fieldset class="block">
            <span id="annualCostsInclusiveRadio"/>
            @vatInputRadioGroup(
                field = annualCostsInclusiveForm("annualCostsInclusiveRadio"),
                Seq(
                  AnnualCostsInclusiveView.YES -> messages("app.common.yes"),
                  AnnualCostsInclusiveView.YES_WITHIN_12_MONTHS -> messages("pages.frs.costsInclusive.radio2"),
                  AnnualCostsInclusiveView.NO -> messages("pages.frs.costsInclusive.radio3")
                ),
                '_labelAfter -> true,
                '_labelClass -> "block-label"
            )
        </fieldset>
      </div>

      <div class="form-group">
        <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
      </div>

      }

    </div>

}