@(chooseBusinessTypeForm: Form[String], groupingBusinessTypes: Map[String, Seq[(String, String)]], mainBusActIdToGA: Option[String] = None)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, vatInputRadioGroup}

@main_template(title = messages("pages.frs.chooseBusinessType.title")) {
    @errorSummary(
        messages("app.common.errorSummaryLabel"),
        chooseBusinessTypeForm,
        Seq("businessType")
    )

    <h1 class="form-title heading-large" id="pageHeading">@messages("pages.frs.chooseBusinessType.heading")</h1>
    <div class="form-group">
        <p>@messages("pages.frs.chooseBusinessType.info")</p>
    </div>

    @govHelpers.form(action = features.frs.controllers.routes.FlatRateController.submitBusinessType) {
        <div class="form-group @if(chooseBusinessTypeForm.hasErrors) { form-group-error }">
            @if(chooseBusinessTypeForm.hasErrors) {
                @chooseBusinessTypeForm.errors.map { error =>
                    <span class="error-notification" role="tooltip">@messages(error.message, error.args: _*)</span>
                }
            }

            @for((sector, businessTypes) <- groupingBusinessTypes) {
                <h3 class="form-title heading-medium">@sector</h3>

                @vatInputRadioGroup(
                    field = chooseBusinessTypeForm("businessType").copy(errors = Nil),
                    businessTypes,
                    '_labelAfter -> true,
                    '_labelClass -> "block-label",
                    '_legend -> messages("pages.frs.chooseBusinessType.heading"),
                    '_legendClass -> "visually-hidden"
                )
            }
        </div>

        <div class="form-group">
            <button class="btn button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>
    }

    @if(mainBusActIdToGA.isDefined) {
        <div class="hidden"><span id="noSectorForSICCode">@mainBusActIdToGA.get</span></div>
    }
}