@import forms.genericForms.YesOrNoAnswer
@(joinFrsForm: Form[YesOrNoAnswer])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, newWindowLink, vatInputRadioGroup}

@main_template(title = messages("pages.frs.join.title")) {

    @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        joinFrsForm
    )
    <h1 class="form-title heading-large" id="pageHeading">@messages("pages.frs.join.heading")</h1>

    <p>@messages("pages.frs.join.p1")</p>

    <p>@messages("pages.frs.join.listHead")</p>

    <ul class="list list-bullet">
        <li>@messages("pages.frs.join.list1.bullet1")</li>
        <li>@messages("pages.frs.join.list1.bullet2")</li>
        <li>@messages("pages.frs.join.list1.bullet3")</li>
    </ul>
    <p>@messages("pages.frs.join.list.bottom")</p>

    <div class="form-group">
        <details role="group">
              <summary role="button" aria-controls="details-content-1" aria-expanded="false"><span class="summary">
              @Html(messages("pages.frs.join.info"))
              </span></summary>
              <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
                  <p>@messages("pages.frs.join.p2")</p>
                  <p>@messages("pages.frs.join.p3")</p>
              </div>
        </details>
    </div>
    <h2>@messages("pages.frs.join.subheading2")</h2>
    <p>@messages("pages.frs.join.p4")</p>
    <ul class="list list-bullet">
        <li>@messages("pages.frs.join.list2.bullet1")</li>
        <li>@messages("pages.frs.join.list2.bullet2")</li>
    </ul>


    <p>@Html(messages("pages.frs.join.para1"))</p>
    <p>@messages("pages.frs.join.para2")
        @newWindowLink("https://www.gov.uk/vat-flat-rate-scheme", messages("pages.frs.join.para2.1"))@messages("pages.frs.join.para3")</p>

    @govHelpers.form(action = features.frs.controllers.routes.FlatRateController.submitJoinFRS()) {
        <div class="form-group">
            @vatInputRadioGroup(
                field = joinFrsForm("joinFrsRadio"),
                Seq(
                    "true" -> Messages("app.common.yes"),
                    "false" -> Messages("app.common.no")
                ),
                '_groupClass -> "inline",
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_legend -> messages("pages.frs.join.heading"),
                '_legendClass -> "visually-hidden"
            )
        </div>

        <div class="form-group">
            <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>

    }
}