@import forms.genericForms.YesOrNoAnswer
@(registerForFrsForm: Form[YesOrNoAnswer])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{vatInputRadioGroup, errorSummary}

@main_template(title = messages("pages.frs.registerFor.title")) {

    @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        registerForFrsForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.frs.registerFor.heading")</h1>

    <p>@messages("pages.frs.registerFor.p")</p>

    <div class="form-group">
        <div class="panel indent">
            <p>@messages("pages.frs.registerFor.panel1.para")</p>
        </div>
    </div>

    <h3>@messages("pages.frs.registerFor.subheading1")</h3>

    @govHelpers.form(action = controllers.frs.routes.RegisterForFrsController.submit()) {
        <div class="form-group">
            <fieldset class="inline">
                <span id="registerForFrsRadio"></span>
                @vatInputRadioGroup(
                    field = registerForFrsForm("registerForFrsRadio"),
                    Seq(
                        "true" -> Messages("app.common.yes"),
                        "false" -> Messages("app.common.no")
                    ),
                    '_labelAfter -> true,
                    '_labelClass -> "block-label",
                    '_legend -> messages("pages.frs.registerFor.subheading1"),
                    '_legendClass -> "hidden"
                )
            </fieldset>
        </div>

        <div class="form-group">
            <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>

    }
}
