@import models.view.frs.BusinessSectorView
@(businessSectorView: BusinessSectorView)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@main_template(title = messages("pages.frs.confirmBusinessSector.title")) {

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.frs.confirmBusinessSector.heading")</h1>

 <div class="form-group notice">
     <i class="icon icon-important">
        <span class="hidden">Warning</span>
     </i>
     <strong class="bold-small">
         @messages("pages.frs.confirmBusinessSector.exclamationPoint")
     </strong>
  </div>
  <p>@messages("pages.frs.confirmBusinessSector.para")</p>

    <table>
        <tr><td>
            </td>
            <td>
        </td></tr>
        <tbody>
            <tr>
                <td>@messages("pages.frs.confirmBusinessSector.table.row1.heading")</td>
                <td id="businessTypeValue">@Html(businessSectorView.businessSector)</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <a id="changeBusinessType" href="#">@messages("pages.frs.confirmBusinessSector.changeLink")</a>
    </div>

    @govHelpers.form(action = controllers.frs.routes.ConfirmBusinessSectorController.submit()) {
        <div class="form-group">
            <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.confirmAndContinue")</button>
        </div>
    }
}
