@import features.returns.Stagger
@import features.returns.Stagger._
@(accountingPeriodForm: Form[Stagger.Value])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@fieldSetClasses = @{
    if(accountingPeriodForm.hasErrors && (accountingPeriodForm.errors.exists(_.args.nonEmpty))) "form-field--error" else ""
}
@import views.html.helpers.templates.{errorSummary, vatInputRadioGroup}

@main_template(title = messages("pages.accounting.period.title")) {

  @errorSummary(
    Messages("app.common.errorSummaryLabel"),
    accountingPeriodForm,
    Seq("accountingPeriodRadio")
  )

  <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.accounting.period.heading")</h1>

  <p>@Html(Messages("pages.accounting.period.para1"))</p>

  @govHelpers.form(action = features.returns.routes.ReturnsController.submitAccountPeriods()) {
    <div class="form-group @fieldSetClasses">
      @accountingPeriodForm.errors.find(_.args.contains("accountingPeriodRadio")).map { error =>
          @govHelpers.errorInline("accountingPeriodRadio", Messages(error.message))
      }

      @vatInputRadioGroup(
          field = accountingPeriodForm("accountingPeriodRadio"),
          Seq(
            jan.toString -> Messages("pages.accounting.period.radio.january"),
            feb.toString -> Messages("pages.accounting.period.radio.february"),
            mar.toString -> Messages("pages.accounting.period.radio.march")
          ),
          '_labelAfter -> true,
          '_labelClass -> "block-label",
          '_legend -> messages("pages.accounting.period.heading"),
          '_legendClass -> "visually-hidden"
      )
    </div>

    <div class="form-group">
      <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
    </div>

  }
}
