@import models.view.AccountingPeriod
@(accountingPeriodForm:  Form[AccountingPeriod])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary

@main_template(title = messages("pages.accounting.period.title")) {

  <div class="column-one-third">

      <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.accounting.period.heading")</h1>

      @errorSummary(
          Messages("app.common.errorSummaryLabel"),
          accountingPeriodForm
      )

      <p>@Html(Messages("pages.accounting.period.para1"))</p>

      @govHelpers.form(action = controllers.userJourney.routes.AccountingPeriodController.submit()) {
      <div class="form-group">
        <fieldset class="block">

          @govHelpers.inputRadioGroup(
            field = accountingPeriodForm("accountingPeriodRadio"),
            Seq(
              AccountingPeriod.JAN_APR_JUL_OCT -> Messages("pages.accounting.period.radio.january"),
              AccountingPeriod.FEB_MAY_AUG_NOV -> Messages("pages.accounting.period.radio.february"),
              AccountingPeriod.MAR_JUN_SEP_DEC -> Messages("pages.accounting.period.radio.march")
            ),
            '_labelAfter -> true,
            '_labelClass -> "block-label"
          )
        </fieldset>
       
      </div>

      <div class="form-group">
        <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
      </div>

      }

    </div>

}
