@import uk.gov.hmrc.play.views.html.helpers.form
@import models.api.VatFinancials
@(refNo: String, vatFinancials: Option[VatFinancials])(implicit request: Request[_], messages: Messages)

@pageScripts = {
    <script type="text/javascript" src='@routes.Assets.at("javascripts/VatGAEvent.js")'></script>
}

@main_template(title = Messages("pages.application.submission.confirmation.title"), scriptElem = Some(pageScripts), backEnabled = false) {

    <div class="govuk-box-highlight">
        <h1 id="heading-application-submitted" class="heading-xlarge">@messages("pages.application.submission.confirmation.heading")</h1>
        <p class="font-large">
            @messages("pages.application.submission.confirmation.reference.number")
            <br>
            <strong class="heading-medium">@refNo</strong>
        </p>
    </div>


    <div class="form-group">
        <h2 class="heading-medium">@messages("pages.application.submission.confirmation.whatNext.sub.heading")</h2>
        <p>@messages("pages.application.submission.confirmation.whatNext.para1")</p>
        <p>@messages("pages.application.submission.confirmation.whatNext.para2")</p>
        <p>@messages("pages.application.submission.confirmation.whatNext.para3")</p>

        <h2 class="heading-medium">@messages("pages.application.submission.confirmation.whileWait.sub.heading")</h2>
        <p>@messages("pages.application.submission.confirmation.whileWait.para1")</p>
        <p>@messages("pages.application.submission.confirmation.whileWait.para2")</p>
        <div class="panel panel-indent" id="details-content-2" aria-hidden="false">
            <h3 class="heading-small">@messages("pages.application.submission.confirmation.whileWait.example")</h3>
            <p>@Html(messages("pages.application.submission.confirmation.whileWait.example.para1"))</p>
        </div>
        <p>@messages("pages.application.submission.confirmation.whileWait.para3")</p>

    </div>

    @form(action = controllers.routes.WelcomeController.show()) {
        <div class="form-group">
            <button class="button-get-started" role="button" id="save-and-continue">@messages("pages.application.submission.confirmation.button")</button>
        </div>

    }


    @***
    * "vatAccountPeriod" ID must not change as there's GA scripts looking for this hidden element
    ***@
    @for(vf <- vatFinancials; periodStart <- vf.accountingPeriods.periodStart){
        <div class="hidden"><span id="vatAccountPeriod">@periodStart</span> </div>
    }

}

