@import models.view.EstimateZeroRatedSales
@(estimateZeroRatedSalesForm:  Form[EstimateZeroRatedSales])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary
@fieldSetClasses = @{
    if(estimateZeroRatedSalesForm.hasErrors && (estimateZeroRatedSalesForm.errors.exists(_.args.nonEmpty))) "form-field--error" else ""
}

@main_template(title = messages("pages.estimate.zero.rated.sales.title")) {

  <div class="column-one-third">

      <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.estimate.zero.rated.sales.heading")</h1>

      @errorSummary(
          Messages("app.common.errorSummaryLabel"),
          estimateZeroRatedSalesForm,
          Seq("zeroRatedSalesEstimate")
      )

      <p>@Html(Messages("pages.estimate.zero.rated.sales.para1"))</p>

      <div class="notice form-group">
          <i class="icon icon-important">
              <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">@messages("pages.estimate.zero.rated.sales.info")</strong>
      </div>

      @govHelpers.form(action = controllers.userJourney.routes.EstimateZeroRatedSalesController.submit()) {
          <div class="form-group @fieldSetClasses">
              <fieldset>

                  @estimateZeroRatedSalesForm.errors.find(_.args.contains("zeroRatedSalesEstimate")).map { error =>
                      @govHelpers.errorInline("zeroRatedSalesEstimate", Messages(error.message))
                  }


                  <label class="form-label">@messages("pages.estimate.zero.rated.sales.form.label")</label>
                      @govHelpers.input(
                          estimateZeroRatedSalesForm("zeroRatedSalesEstimate"),
                          '_divClass -> "form-group",
                          '_inputClass -> "form-control",
                          '_label -> Messages("app.common.gbp.symbol"),
                          '_labelClass -> "form-label",
                          '_type -> "number"
                      )


              </fieldset>

              <details role="group">
                  <summary role="button" aria-controls="details-content-1" aria-expanded="false"><span class="summary">
                  @Html(messages("pages.estimate.zero.rated.sales.include.title"))
                  </span></summary>
                  <div class="panel panel-indent" id="details-content-1" aria-hidden="true">
                      <p>@Html(Messages("pages.estimate.zero.rated.sales.include.para1"))</p>
                      <ul class="list list-bullet">
                          <li>@Html(Messages("pages.estimate.zero.rated.sales.include.bullet1"))</li>
                          <li>@Html(Messages("pages.estimate.zero.rated.sales.include.bullet2"))</li>
                          <li>@Html(Messages("pages.estimate.zero.rated.sales.include.bullet3"))</li>
                      </ul>
                      <p>@Html(Messages("pages.estimate.zero.rated.sales.include.para2"))</p>
                  </div>
              </details>
          </div>

          <div class="form-group">
              <button class="btn button" type="submit" id="save-and-continue">Save and continue</button>
          </div>
      }

    </div>

}
