@()(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = messages("pages.start.date.confirmation.title")) {


<div class="grid-row">
    <div class="column-one-third">

        <header class="page-header">
            <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.start.date.confirmation.heading")</h1>
        </header>

        <p>@messages("pages.start.date.confirmation.para1")</p>
        <p>@messages("pages.start.date.confirmation.para2")</p>
        <p>@messages("pages.start.date.confirmation.para3")</p>


        <div class="notice form-group">
            <i class="icon icon-important">
                <span class="visuallyhidden">Warning</span>
            </i>

            <strong class="bold-small">@messages("pages.start.date.confirmation.warning")</strong>

        </div>


        @form(action = controllers.userJourney.routes.StartDateController.submitMandatoryStartDateConfirmation()) {
            <div class="form-group">
                <button class="button-get-started" role="button" id="save-and-continue">@messages("app.common.continue")</button>
            </div>
        }


    </div>

</div>
}