@import models.view.test.SicStub
@(sicStubForm:  Form[SicStub])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

        <h1 class="form-title heading-xlarge" id="pageHeading">Enter 1-4, 8 digit SIC codes:</h1>

        @govHelpers.form(action = controllers.test.routes.SicStubController.submit()) {
            <div class="form-group">
                <fieldset>

                    <p><input type="text" name="sicCode1" maxlength="8" title="sic1" value="91012001"/></p>
                    <p><input type="text" name="sicCode2" maxlength="8" title="sic2" value="91020002"/></p>
                    <p><input type="text" name="sicCode3" maxlength="8" title="sic4" value=""/></p>
                    <p><input type="text" name="sicCode4" maxlength="8" title="sic4" value=""/></p>

                </fieldset>

            </div>

            <div class="form-group">
                <button class="btn button" type="submit" id="submit">Submit</button>
            </div>
        }



