@import models.view.StartDate
@(startDateForm: Form[StartDate])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@main_template(title = messages("pages.startDate.title")) {

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.startDate.heading")</h1>

      <p>@messages("pages.startDate.para1")</p>

        @govHelpers.form(action = controllers.userJourney.routes.StartDateController.submit()) {
            <div class="form-group">
                <fieldset>

                    @govHelpers.inputRadioGroup(
                        field = startDateForm("startDateRadio"),
                        Seq(
                            StartDate.COMPANY_REGISTRATION_DATE -> Messages("pages.startDate.radio.whenRegistered"),
                            StartDate.SPECIFIC_DATE -> Messages("pages.startDate.radio.futureDate")
                        ),
                        '_labelAfter -> true,
                        '_labelClass -> "block-label"
                    )

                    <div class="panel panel-indent hidden" id="future_date_panel">
                        <p>@messages("pages.startDate.panels.futureDate.para1")</p>
                        <ul class="list list-bullet">
                            <li>@messages("pages.startDate.panels.futureDate.bullet.2days")</li>
                            <li>@messages("pages.startDate.panels.futureDate.bullet.3months")</li>
                        </ul>

                        <span class="form-hint">@messages("pages.startDate.panels.futureDate.hint")</span>


                        <div class="form-date">
                                @govHelpers.input(
                                    startDateForm("day"),
                                    '_divClass -> "form-group",
                                    '_inputClass -> "form-control",
                                    '_label -> Messages("pages.startDate.panels.futureDate.inputField.day"),
                                    '_labelClass -> "form-label"
                                )

                                @govHelpers.input(
                                    startDateForm("month"),
                                    '_divClass -> "form-group",
                                    '_inputClass -> "form-control",
                                    '_label -> Messages("pages.startDate.panels.futureDate.inputField.month"),
                                    '_labelClass -> "form-label"
                                )

                                @govHelpers.input(
                                    startDateForm("year"),
                                    '_divClass -> "form-group form-group-year",
                                    '_inputClass -> "form-control",
                                    '_label -> Messages("pages.startDate.panels.futureDate.inputField.year"),
                                    '_labelClass -> "form-label"
                                )
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <button class="btn button" type="next" id="save-and-continue">Save and continue</button>
            </div>
        }

    </div>
  </div>

}

<script type="text/javascript">
    $(document).ready($(function () {
        StartDatePage.init()
    }));
</script>