@import helpers.templates.summaryRow
@import models.view.Summary
@import uk.gov.hmrc.play.views.html.helpers.form
@(summaryModel: Summary)(implicit request: Request[_], messages: Messages)

@main_template(title = messages("pages.summary.title")) {

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.summary.heading")</h1>


    @for(section <- summaryModel.sections) {
        @if(section.display.exists(identity)) {
            <section>
                <h2 class="heading-medium">@Messages(s"pages.summary.${section.id}.sectionHeading")</h2>
                <table class="check-your-answers form-group">
                @for((row, doDisplayRow) <- section.rows) {
                    @if(doDisplayRow) {
                        @summaryRow(row)
                    }
                }
                </table>
            </section>
        }
    }


    @form(action = controllers.routes.ApplicationSubmissionController.show()) {
        <div class="form-group">
            <button class="button-get-started" role="button" id="save-and-continue">@messages("app.common.continue")</button>
        </div>
    }

}