@import models.view.TaxableTurnover
@(taxableTurnoverForm:  Form[TaxableTurnover])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@main_template(title = messages("pages.taxable.turnover.title")) {

  <div class="column-one-third">

      <h1 class="form-title heading-large" id="pageHeading">@messages("pages.taxable.turnover.heading")</h1>
      <p>@Html(Messages("pages.taxable.turnover.para1"))</p>


      <div class="form-group">
        <details role="group">
          <summary role="button" aria-controls="details-content-1" aria-expanded="false"><span class="summary">
            @messages("pages.taxable.turnover.vatVoluntarily.title")
          </span></summary>
            <div class="panel panel-indent" id="details-content-1" aria-hidden="true">
            <p> @messages("pages.taxable.turnover.vatVoluntarily.para1")</p>

            <ul class="list list-bullet">
              <li>@Html(Messages("pages.taxable.turnover.vatVoluntarily.bullet.charge"))</li>
              <li>@Html(Messages("pages.taxable.turnover.vatVoluntarily.bullet.reclaim"))</li>
            </ul>

            <p>@messages("pages.taxable.turnover.vatVoluntarily.para2")</p>
            <p>@messages("pages.taxable.turnover.vatVoluntarily.para3")</p>
          </div>
        </details>
      </div>

      @govHelpers.form(action = controllers.userJourney.routes.TaxableTurnoverController.submit()) {
      <div class="form-group">
        <fieldset class="inline">

          @govHelpers.inputRadioGroup(
            field = taxableTurnoverForm("turnoverRadio"),
            Seq(
              TaxableTurnover.TURNOVER_YES -> Messages("app.common.yes"),
              TaxableTurnover.TURNOVER_NO -> Messages("app.common.no")
            ),
            '_labelAfter -> true,
            '_labelClass -> "block-label"
          )
        </fieldset>
      </div>

      <div class="form-group">
        <button class="button-save-and-continue" role="button" id="continue">@messages("app.common.saveAndContinue")</button>
      </div>

      }

    </div>

}