@()(implicit request: Request[_], messages: Messages)

@main_template(title = messages("pages.welcome.title")) {

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large" id="pageHeading">@messages("pages.taxable.turnover.heading")</h1>

      <div class="form-group">
        <fieldset class="inline">

          <legend class="visuallyhidden">Do you expect your company's taxable turnover to be more than £83,000 in the 30 days after it's registered?</legend>

          <label class="block-label" data-target="example-ni-no" for="radio-indent-1">
            <input id="radio-indent-1" type="radio" name="q1" value="Yes" aria-controls="example-ni-no">Yes
          </label>

          <label class="block-label" data-target="example-ni-yes" for="radio-indent-2">
            <input id="radio-indent-2" type="radio" name="q1" value="No" aria-controls="example-ni-yes">No
          </label>
        </fieldset>
      </div>

      <div class="form-group">
        <details role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false">
            <span class="summary">What is 'VAT taxable turnover'?</span>
          </summary>
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

            <p>VAT taxable turnover is the total value of everything you sell that isn't <a href="https://www.gov.uk/vat-businesses/when-not-to-charge-vatexempt from VAT">exempt from VAT</a>.</p>
          </div>
        </details>
      </div>

      <div class="form-group">
        <button class="button-save-and-continue" role="button" id="continue">@messages("app.common.saveAndContinue")</button>
      </div>

    </div>
  </div>

}