@import models.view.test.TestSetup
@(testSetupForm:  Form[TestSetup])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}



<h1 class="form-title heading-xlarge" id="pageHeading">Test Setup</h1>

@govHelpers.form(action = controllers.test.routes.TestSetupController.submit()) {
    <div class="form-group">
        <fieldset>

            <b>VAT CHOICE</b>
            <p>@govHelpers.input(testSetupForm("vatChoice.taxableTurnoverChoice"), '_label -> "Taxable turnover choice (TAXABLE_YES or TAXABLE_NO)")</p>
            <p>@govHelpers.input(testSetupForm("vatChoice.voluntaryChoice"), '_label -> "Voluntary registration choice (REGISTER_YES or REGISTER_NO)")</p>
            <p>@govHelpers.input(testSetupForm("vatChoice.voluntaryRegistrationReason"), '_label -> "Voluntary registration reason (COMPANY_ALREADY_SELLS_TAXABLE_GOODS_OR_SERVICES or COMPANY_INTENDS_TO_SELLS_TAXABLE_GOODS_OR_SERVICES_IN_THE_FUTURE or NEITHER)")</p>
            <p>@govHelpers.input(testSetupForm("vatChoice.startDateChoice"), '_label -> "Start date choice (COMPANY_REGISTRATION_DATE or BUSINESS_START_DATE or SPECIFIC_DATE)")</p>
            <p>@govHelpers.input(testSetupForm("vatChoice.startDateDay"), '_label -> "Start date day (DD)")</p>
            <p>@govHelpers.input(testSetupForm("vatChoice.startDateMonth"), '_label -> "Start date month (MM)")</p>
            <p>@govHelpers.input(testSetupForm("vatChoice.startDateYear"), '_label -> "Start date year (YYYY)")</p>

            <b>VAT TRADING DETAILS</b>
            <p>@govHelpers.input(testSetupForm("vatTradingDetails.tradingNameChoice"), '_label -> "Trading name choice (TRADING_NAME_YES or TRADING_NAME_NO)")</p>
            <p>@govHelpers.input(testSetupForm("vatTradingDetails.tradingName"), '_label -> "Trading name")</p>
            <p>@govHelpers.input(testSetupForm("vatTradingDetails.euGoods"), '_label -> "EU Goods (EU_GOODS_YES, EU_GOODS_NO)")</p>

            <b>VAT FINANCIALS</b>
            <p>@govHelpers.input(testSetupForm("vatFinancials.companyBankAccountChoice"), '_label -> "Company Bank Account Choice (COMPANY_BANK_ACCOUNT_YES or COMPANY_BANK_ACCOUNT_NO)")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.companyBankAccountName"), '_label -> "Company Bank Account Name")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.companyBankAccountNumber"), '_label -> "Company Bank Account Number (8 digit number)")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.sortCode"), '_label -> "Sort Code (11-22-33)")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.estimateVatTurnover"), '_label -> "Estimated vat turnover")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.zeroRatedSalesChoice"), '_label -> "Zero rated sales choice (ZERO_RATED_SALES_YES or ZERO_RATED_SALES_NO)")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.zeroRatedTurnoverEstimate"), '_label -> "Zero rate sales estimate")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.vatChargeExpectancyChoice"), '_label -> "Vat Charge Expectancy (VAT_CHARGE_YES or VAT_CHARGE_NO)")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.vatReturnFrequency"), '_label -> "Vat Return Frequency (monthly or quarterly)")</p>
            <p>@govHelpers.input(testSetupForm("vatFinancials.accountingPeriod"), '_label -> "Accounting Period (JAN_APR_JUL_OCT or FEB_MAY_AUG_NOV or MAR_JUN_SEP_DEC)")</p>

            <b>SIC AND COMPLIANCE</b>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.businessActivityDescription"), '_label -> "Business activity description")</p>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.sicCode1"), '_label -> "SIC code 1")</p>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.sicCode2"), '_label -> "SIC code 2")</p>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.sicCode3"), '_label -> "SIC code 3")</p>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.sicCode4"), '_label -> "SIC code 4")</p>
            <em>Cultural Compliance</em>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.culturalNotForProfit"), '_label -> "Not for Profit (NOT_PROFIT_YES or NOT_PROFIT_NO)")</p>
            <em>Labour Compliance</em>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.labourCompanyProvideWorkers"), '_label -> "Company Provide Workers (PROVIDE_WORKERS_YES or PROVIDE_WORKERS_NO)")</p>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.labourWorkers"), '_label -> "How Many Workers (1 <= integer <= 99999)")</p>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.labourTemporaryContracts"), '_label -> "Temporary Contracts (TEMP_CONTRACTS_YES or TEMP_CONTRACTS_NO)")</p>
            <p>@govHelpers.input(testSetupForm("sicAndCompliance.labourSkilledWorkers"), '_label -> "Skilled Workers (SKILLED_WORKERS_YES or SKILLED_WORKERS_NO)")</p>
        </fieldset>

    </div>

    <div class="form-group">
        <button class="btn button" type="submit" id="submit">Submit</button>
    </div>
}


