@()(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = messages("pages.welcome.title")) {

    <header class="page-header">
        <h1 class="form-title heading-large" id="pageHeading">@messages("pages.welcome.heading")</h1>
    </header>

    <p>@messages("pages.welcome.p1")</p>

    <div class="form-group">
        <ul class="list list-bullet">
            <li>@messages("pages.welcome.bullet1")</li>
            <li>@messages("pages.welcome.bullet2")</li>
        </ul>
    </div>

    <h2>@messages("pages.welcome.h2")</h2>

    <p>@messages("pages.welcome.p2")</p>

    <div class="form-group">
        <ul class="list list-bullet">
            <li>@messages("pages.welcome.bullet3")</li>
            <li>@messages("pages.welcome.bullet4")</li>
            <li>@messages("pages.welcome.bullet5")</li>
        </ul>
    </div>

    <h2>@messages("pages.welcome.h3")</h2>


    <p>@messages("pages.welcome.p3")</p>

    <div class="form-group">
    @form(action = controllers.routes.WelcomeController.redirectToEligibility()) {
        <div class="form-group">
            <button class="button-get-started" role="button" id="start">@messages("pages.welcome.button.start")
            </button>
        </div>
    }
    </div>

    <p>@messages("pages.welcome.p4")</p>
    <div class="form-group">
        <ul class="list list-bullet">
            <li>@messages("pages.welcome.bullet6")</li>
            <li>@messages("pages.welcome.bullet7")</li>
            <li>@messages("pages.welcome.bullet8")</li>
        </ul>
    </div>
}