@import features.sicAndCompliance.models.BusinessActivityDescription
@(businessActivityDescriptionForm:  Form[BusinessActivityDescription])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, vatTextArea}

@main_template(title = messages("pages.business.activity.description.title")) {

  @errorSummary(
    Messages("app.common.errorSummaryLabel"),
    businessActivityDescriptionForm,
    Seq("description")
  )

  <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.business.activity.description.heading")</h1>

  @govHelpers.form(action = features.sicAndCompliance.controllers.routes.SicAndComplianceController.submitBusinessActivityDescription()) {
      <div>

          <fieldset>
            <legend class="visually-hidden">pages.business.activity.description.heading</legend>
            <div class="char-counter" data-char-counter>
              @vatTextArea(
                businessActivityDescriptionForm("description"),
                '_divClass -> "form-group",
                '_labelClass -> "form-label",
                '_inputClass -> "form-control fill-width",
                '_rows -> "4",
                '_maxlength -> "250",
                '_dataCharField -> "data_char_field",
                '_label -> messages("pages.business.activity.description.label")
              )
            </div>
          </fieldset>
      </div>

      <div class="form-group">
          <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
      </div>
  }
}
