@import models.view.vatTradingDetails.vatEuTrading.ApplyEori
@(applyEoriForm: Form[ApplyEori])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary
@import views.html.helpers.templates.vatInputRadioGroup

@main_template(title = messages("pages.applyEori.title")) {

    <div class="column-one-third">

        @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        applyEoriForm,
        Seq("applyEori")
        )

        <h1 class="form-title heading-large" id="pageHeading">@messages("pages.applyEori.heading")</h1>

        <p>@messages("pages.applyEori.para1")</p>
        <h3 class="heading-medium">@messages("pages.applyEori.h3")</h3>
        <p>@messages("pages.applyEori.para2")</p>

        @govHelpers.form(action = controllers.vatTradingDetails.vatEuTrading.routes.ApplyEoriController.submit()) {
            <div class="form-group">
                <fieldset>
                    <span id="applyEoriRadio"/>

                    @vatInputRadioGroup(
                        field = applyEoriForm("applyEoriRadio"),
                        Seq(
                            String.valueOf(ApplyEori.APPLY_EORI_YES) -> Messages("pages.applyEori.number.yes"),
                            String.valueOf(ApplyEori.APPLY_EORI_NO) -> Messages("pages.applyEori.number.no")
                        ),
                        '_labelAfter -> true,
                        '_labelClass -> "block-label"
                    )
                </fieldset>
            </div>

            <div class="form-group">
                <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
            </div>
        }

    </div>

}

