@import models.view.sicAndCompliance.labour.CompanyProvideWorkers
@(companyProvideWorkersForm: Form[CompanyProvideWorkers])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary

@main_template(title = messages("pages.labourCompliance.companyProvideWorkers.title")) {

    <div class="column-one-third">

        @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        companyProvideWorkersForm
        )

        <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.labourCompliance.companyProvideWorkers.heading")</h1>

        <p>
        @messages("pages.labourCompliance.companyProvideWorkers.para")
        </p>
        @govHelpers.form(action = controllers.sicAndCompliance.labour.routes.CompanyProvideWorkersController.submit()) {
            <div class="form-group">
                <fieldset class="inline">
                    <span id="companyProvideWorkersRadio"/>

                    @govHelpers.inputRadioGroup(
                        field = companyProvideWorkersForm("companyProvideWorkersRadio"),
                        Seq(
                            CompanyProvideWorkers.PROVIDE_WORKERS_YES -> Messages("app.common.yes"),
                            CompanyProvideWorkers.PROVIDE_WORKERS_NO -> Messages("app.common.no")
                        ),
                        '_labelAfter -> true,
                        '_labelClass -> "block-label"
                    )
                </fieldset>
            </div>

            <div class="form-group">
                <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
            </div>

        }

    </div>

}
