@import models.view.sicAndCompliance.labour.TemporaryContracts
@(temporaryContractsForm: Form[TemporaryContracts])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{vatInputRadioGroup, errorSummary}

@main_template(title = messages("pages.labourCompliance.temporaryContracts.title")) {

    @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        temporaryContractsForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.labourCompliance.temporaryContracts.heading")</h1>

    @govHelpers.form(action = controllers.sicAndCompliance.labour.routes.TemporaryContractsController.submit()) {
        <div class="form-group">
            <fieldset class="inline">
                <span id="temporaryContractsRadio"/>

                @vatInputRadioGroup(
                    field = temporaryContractsForm("temporaryContractsRadio"),
                    Seq(
                        TemporaryContracts.TEMP_CONTRACTS_YES -> Messages("app.common.yes"),
                        TemporaryContracts.TEMP_CONTRACTS_NO -> Messages("app.common.no")
                    ),
                    '_labelAfter -> true,
                    '_labelClass -> "block-label"
                )
            </fieldset>
        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="save-and-continue">Continue</button>
        </div>

    }
}
