@import features.sicAndCompliance.models.Workers
@(workersForm: Form[Workers])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@fieldSetClasses = @{
    if(workersForm.hasErrors && (workersForm.errors.exists(_.args.nonEmpty))) "form-field--error" else ""
}
@import views.html.helpers.templates.{errorSummary, vatInput}

@main_template(title = messages("pages.labourCompliance.workers.title")) {

    @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        workersForm,
        Seq("numberOfWorkers")
    )

    <h1 class="form-title heading-large" id="pageHeading">@messages("pages.labourCompliance.workers.heading")</h1>

    @govHelpers.form(action = features.sicAndCompliance.controllers.routes.LabourComplianceController.submitWorkers()) {
        <div class="form-group @fieldSetClasses">
            <fieldset>
                <legend class="visually-hidden">pages.labourCompliance.workers.heading</legend>

                @workersForm.errors.find(_.args.contains("numberOfWorkers")).map { error =>
                    @govHelpers.errorInline("numberOfWorkers", Messages(error.message))
                }

                @vatInput(
                    workersForm("numberOfWorkers"),
                    '_inputClass -> "form-control",
                    '_label -> Messages("pages.labourCompliance.workers.numberOfWorkers"),
                    '_labelClass -> "cascading"
                )

            </fieldset>
        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.continue")</button>
        </div>
    }
}

<script type="text/javascript">
        $(document).ready($(function () {
            WorkersPage.init()
        }));
</script>