@import models.view.test.SicStub
@(sicStubForm:  Form[SicStub])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = "SIC codes") {


    <div class="grid-row">
        <div class="column-one-third">

            <header class="page-header">
                <h1 class="form-title heading-xlarge" id="pageHeading">Enter 1-4, 8 digit SIC codes:</h1>
            </header>

            <p><button class="btn button" type="button" onclick="fillCulturalCodes()">Cultural compliance</button></p>
            <p><button class="btn button" type="button" onclick="fillLabourCodes()">Labour compliance</button></p>
            <p><button class="btn button" type="button" onclick="fillFinancialCodes()">Financial compliance</button></p>
            <p><button class="btn button" type="button" onclick="fillSingleCode()">Single code - no compliance</button></p>
            <p><button class="btn button" type="button" onclick="clearCodes()">Clear</button></p>

            @form(action = controllers.test.routes.SicStubController.submit()) {
                <div class="form-group">
                    <fieldset>

                        <p><input type="text" name="sicCode1" maxlength="8" title="sic1" value=""/></p>
                        <p><input type="text" name="sicCode2" maxlength="8" title="sic2" value=""/></p>
                        <p><input type="text" name="sicCode3" maxlength="8" title="sic4" value=""/></p>
                        <p><input type="text" name="sicCode4" maxlength="8" title="sic4" value=""/></p>

                    </fieldset>

                </div>

                <div class="form-group">
                    <button class="btn button" type="submit" id="submit">Submit</button>
                </div>
            }

        </div>

    </div>
}


<script type="application/javascript">

        var blanks = ["", "", "", ""];
        var single = ["36000008", "", "", ""];
        var culturalSicCodes = ["90040001", "91012002", "91040003", ""];
        var labourSicCodes = ["81221001", "81222002", "81223003", ""];
        var financialSicCodes = ["70221001", "66110002", "66300001"];

        function fillInputs(arr) {
            $('input[type=text]').each(function (index) {
                $(this).val(arr[index]);
            });
            return false;
        }

        function clearCodes() {
            return fillInputs(blanks)
        }

        function fillSingleCode() {
            return fillInputs(single)
        }

        function fillCulturalCodes() {
            return fillInputs(culturalSicCodes)
        }

        function fillLabourCodes() {
            return fillInputs(labourSicCodes)
        }

        function fillFinancialCodes() {
            return fillInputs(financialSicCodes)
        }

</script>

