@import models.view.test.TestSetup
@(testSetupForm:  Form[TestSetup])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.vatInput

<h1 class="form-title heading-xlarge" id="pageHeading">Test Setup</h1>

@govHelpers.form(action = controllers.test.routes.TestSetupController.submit()) {
    <div class="form-group">
        <fieldset>

            <b>VAT CHOICE</b>
            <p>@vatInput(testSetupForm("vatChoice.taxableTurnoverChoice"), '_label -> "Taxable turnover choice (TAXABLE_YES or TAXABLE_NO)")</p>
            <p>@vatInput(testSetupForm("vatChoice.voluntaryChoice"), '_label -> "Voluntary registration choice (REGISTER_YES or REGISTER_NO)")</p>
            <p>@vatInput(testSetupForm("vatChoice.voluntaryRegistrationReason"), '_label -> "Voluntary registration reason (COMPANY_ALREADY_SELLS_TAXABLE_GOODS_OR_SERVICES or COMPANY_INTENDS_TO_SELLS_TAXABLE_GOODS_OR_SERVICES_IN_THE_FUTURE or NEITHER)")</p>
            <p>@vatInput(testSetupForm("vatChoice.startDateChoice"), '_label -> "Start date choice (COMPANY_REGISTRATION_DATE or BUSINESS_START_DATE or SPECIFIC_DATE)")</p>
            <p>@vatInput(testSetupForm("vatChoice.startDateDay"), '_label -> "Start date day (DD)")</p>
            <p>@vatInput(testSetupForm("vatChoice.startDateMonth"), '_label -> "Start date month (MM)")</p>
            <p>@vatInput(testSetupForm("vatChoice.startDateYear"), '_label -> "Start date year (YYYY)")</p>
            <p>@vatInput(testSetupForm("vatChoice.overThresholdSelection"), '_label -> "Over threshold selection (true or false)")</p>
            <p>@vatInput(testSetupForm("vatChoice.overThresholdMonth"), '_label -> "Over threshold month (MM)")</p>
            <p>@vatInput(testSetupForm("vatChoice.overThresholdYear"), '_label -> "Over threshold year (YYYY)")</p>

            <b>VAT TRADING DETAILS</b>
            <p>@vatInput(testSetupForm("vatTradingDetails.tradingNameChoice"), '_label -> "Trading name choice (TRADING_NAME_YES or TRADING_NAME_NO)")</p>
            <p>@vatInput(testSetupForm("vatTradingDetails.tradingName"), '_label -> "Trading name")</p>
            <p>@vatInput(testSetupForm("vatTradingDetails.euGoods"), '_label -> "EU Goods (EU_GOODS_YES, EU_GOODS_NO)")</p>
            <p>@vatInput(testSetupForm("vatTradingDetails.applyEori"), '_label -> "Apply for EORI number? (TRUE, FALSE)")</p>

            <b>VAT CONTACT</b>
            <p>@vatInput(testSetupForm("vatContact.line1"), '_label -> "PPOB Line 1") </p>
            <p>@vatInput(testSetupForm("vatContact.line2"), '_label -> "PPOB Line 2")</p>
            <p>@vatInput(testSetupForm("vatContact.line3"), '_label -> "PPOB Line 3")</p>
            <p>@vatInput(testSetupForm("vatContact.line4"), '_label -> "PPOB Line 4")</p>
            <p>@vatInput(testSetupForm("vatContact.postcode"), '_label -> "PPOB Post code")</p>
            <p>@vatInput(testSetupForm("vatContact.country"), '_label -> "PPOB Country")</p>
            <p>@vatInput(testSetupForm("vatContact.email"), '_label -> "Email (mandatory)")</p>
            <p>@vatInput(testSetupForm("vatContact.daytimePhone"), '_label -> "Daytime Phone (at least one of daytime phone or mobile)")</p>
            <p>@vatInput(testSetupForm("vatContact.mobile"), '_label -> "Mobile (at least one of daytime phone or mobile)")</p>
            <p>@vatInput(testSetupForm("vatContact.website"), '_label -> "Website (optional)")</p>

            <b>TURNOVER ESTIMATES</b>
            <p>@vatInput(testSetupForm("turnoverEstimates.vatTaxable"), '_label -> "Estimated vat turnover")</p>

            <b>BANK ACCOUNT</b>
            <p>@vatInput(testSetupForm("bankAccount.isProvided"), '_label -> "Has company bank account? (true or false)")</p>
            <p>@vatInput(testSetupForm("bankAccount.details.accountName"), '_label -> "Company Bank Account Name")</p>
            <p>@vatInput(testSetupForm("bankAccount.details.accountNumber"), '_label -> "Company Bank Account Number (8 digit number)")</p>
            <p>@vatInput(testSetupForm("bankAccount.details.accountSortCode"), '_label -> "Sort Code (xx-xx-xx)")</p>

            <b>VAT FINANCIALS</b>
            <p>@vatInput(testSetupForm("vatFinancials.estimateVatTurnover"), '_label -> "Estimated vat turnover")</p>
            <p>@vatInput(testSetupForm("vatFinancials.zeroRatedSalesChoice"), '_label -> "Zero rated sales choice (ZERO_RATED_SALES_YES or ZERO_RATED_SALES_NO)")</p>
            <p>@vatInput(testSetupForm("vatFinancials.zeroRatedTurnoverEstimate"), '_label -> "Zero rate sales estimate")</p>
            <p>@vatInput(testSetupForm("vatFinancials.vatChargeExpectancyChoice"), '_label -> "Vat Charge Expectancy (VAT_CHARGE_YES or VAT_CHARGE_NO)")</p>
            <p>@vatInput(testSetupForm("vatFinancials.vatReturnFrequency"), '_label -> "Vat Return Frequency (monthly or quarterly)")</p>
            <p>@vatInput(testSetupForm("vatFinancials.accountingPeriod"), '_label -> "Accounting Period (JAN_APR_JUL_OCT or FEB_MAY_AUG_NOV or MAR_JUN_SEP_DEC)")</p>

            <b>SIC AND COMPLIANCE</b>
            <p>@vatInput(testSetupForm("sicAndCompliance.businessActivityDescription"), '_label -> "Business activity description")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.mainBusinessActivityId"), '_label -> "Main Business activity SIC")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.mainBusinessActivityDescription"), '_label -> "Main Business activity description")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.mainBusinessActivityDisplayDetails"), '_label -> "Main Business activity display details")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.sicCode1"), '_label -> "SIC code 1")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.sicCode2"), '_label -> "SIC code 2")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.sicCode3"), '_label -> "SIC code 3")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.sicCode4"), '_label -> "SIC code 4")</p>


            <em>Labour Compliance</em>
            <p>@vatInput(testSetupForm("sicAndCompliance.labourCompanyProvideWorkers"), '_label -> "Company Provide Workers (PROVIDE_WORKERS_YES or PROVIDE_WORKERS_NO)")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.labourWorkers"), '_label -> "How Many Workers (1 <= integer <= 99999)")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.labourTemporaryContracts"), '_label -> "Temporary Contracts (TEMP_CONTRACTS_YES or TEMP_CONTRACTS_NO)")</p>
            <p>@vatInput(testSetupForm("sicAndCompliance.labourSkilledWorkers"), '_label -> "Skilled Workers (SKILLED_WORKERS_YES or SKILLED_WORKERS_NO)")</p>

            <b>VAT SERVICE ELIGIBILITY</b>
            <p>@vatInput(testSetupForm("vatServiceEligibility.haveNino"), '_label -> "Have nino (true or false)") </p>
            <p>@vatInput(testSetupForm("vatServiceEligibility.doingBusinessAbroad"), '_label -> "Doing business abroad (true or false)")</p>
            <p>@vatInput(testSetupForm("vatServiceEligibility.doAnyApplyToYou"), '_label -> "Do any apply to you (true or false)")</p>
            <p>@vatInput(testSetupForm("vatServiceEligibility.applyingForAnyOf"), '_label -> "Applying for any of (true or false)")</p>
            <p>@vatInput(testSetupForm("vatServiceEligibility.applyingForVatExemption"), '_label -> "Applying for a VAT exemption or exception (true or false)")</p>
            <p>@vatInput(testSetupForm("vatServiceEligibility.companyWillDoAnyOf"), '_label -> "Company will do any of (true or false)")</p>

            <b>VAT LODGING OFFICER</b>

            <p><em>Officer's Role and Name</em></p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.role"),   '_label -> "Role (director or secretary)") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.firstname"),   '_label -> "First name") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.othernames"), '_label -> "Other names") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.surname"),  '_label -> "Surname") </p>

            <em>Officer's Former Name</em>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.formernameChoice"), '_label -> "Former name choice (true, false)") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.formername"), '_label -> "Former name") </p>

            <em>Officer's Former Name Changed Date</em>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.formernameChangeDay"),   '_label -> "Day (1 - 31)") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.formernameChangeMonth"), '_label -> "Month (1 - 12)") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.formernameChangeYear"),  '_label -> "Year (1900 - present)") </p>

            <em>Officer's Date of Birth</em>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.dobDay"),   '_label -> "Day (1 - 31)") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.dobMonth"), '_label -> "Month (1 - 12)") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.dobYear"),  '_label -> "Year (1900 - present)") </p>

            <em>Officer's National Insurance number</em>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.nino"),   '_label -> "Nino (eg. NB686868D)") </p>

            <em>Officer's Contact Details</em>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.email"), '_label -> "Email") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.mobile"), '_label -> "Mobile number") </p>
            <p>@vatInput(testSetupForm("vatLodgingOfficer.phone"), '_label -> "Daytime phone number") </p>

            <em>Officer's Home Address</em>
            <p>@vatInput(testSetupForm("officerHomeAddress.line1"), '_label -> "Line 1") </p>
            <p>@vatInput(testSetupForm("officerHomeAddress.line2"), '_label -> "Line 2")</p>
            <p>@vatInput(testSetupForm("officerHomeAddress.line3"), '_label -> "Line 3")</p>
            <p>@vatInput(testSetupForm("officerHomeAddress.line4"), '_label -> "Line 4")</p>
            <p>@vatInput(testSetupForm("officerHomeAddress.postcode"), '_label -> "Post code")</p>
            <p>@vatInput(testSetupForm("officerHomeAddress.country"), '_label -> "Country")</p>

            <em>Officer's Previous Address</em>

            <p>@vatInput(testSetupForm("officerPreviousAddress.threeYears"), '_label -> "Three years or more (true or false)") </p>

            <p>@vatInput(testSetupForm("officerPreviousAddress.line1"), '_label -> "Line 1") </p>
            <p>@vatInput(testSetupForm("officerPreviousAddress.line2"), '_label -> "Line 2")</p>
            <p>@vatInput(testSetupForm("officerPreviousAddress.line3"), '_label -> "Line 3")</p>
            <p>@vatInput(testSetupForm("officerPreviousAddress.line4"), '_label -> "Line 4")</p>
            <p>@vatInput(testSetupForm("officerPreviousAddress.postcode"), '_label -> "Post code")</p>
            <p>@vatInput(testSetupForm("officerPreviousAddress.country"), '_label -> "Country")</p>

            <b>VAT FRS</b>
            <p>@vatInput(testSetupForm("vatFlatRateScheme.joinFrs"), '_label -> "Join FRS (true or false)") </p>
            <p>@vatInput(testSetupForm("vatFlatRateScheme.annualCostsInclusive"), '_label -> "Annual costs inclusive (yes or yesWithin12months or no)")</p>
            <p>@vatInput(testSetupForm("vatFlatRateScheme.annualCostsLimited"), '_label -> "Annual costs limited (yes or yesWithin12months or no)")</p>
            <p>@vatInput(testSetupForm("vatFlatRateScheme.registerForFrs"), '_label -> "Register for FRS (true or false)") </p>
            <p>@vatInput(testSetupForm("vatFlatRateScheme.frsStartDateChoice"), '_label -> "Frs Start date choice (VAT_REGISTRATION_DATE or DIFFERENT_DATE)")</p>
            <p>@vatInput(testSetupForm("vatFlatRateScheme.frsStartDateDay"), '_label -> "Frs Start date day (DD)")</p>
            <p>@vatInput(testSetupForm("vatFlatRateScheme.frsStartDateMonth"), '_label -> "Frs Start date month (MM)")</p>
            <p>@vatInput(testSetupForm("vatFlatRateScheme.frsStartDateYear"), '_label -> "Frs Start date year (YYYY)")</p>
        </fieldset>

    </div>

    <div class="form-group">
        <button class="btn button" type="submit" id="submit">Submit</button>
    </div>
}