@import models.view.SummaryRow

@(row: SummaryRow)(implicit messages: Messages)

<tr>
    <td id="@{
        row.id
    }Question">@Html(Messages(s"pages.summary.${row.id}.question"))</td>
    <td id="@{
        row.id
    }Answer">
    @row.answer.fold(
        messageKey => Messages(s"pages.summary.${row.id}.answers.$messageKey"),
        answer => answer
    )
    <td class="change-answer">
    @row.changeLink.map { linkLocation =>
        <b><a href="@linkLocation" id="@{
            row.id
        }ChangeLink">@Messages("app.common.change")</a></b>
    }
    </td>
</tr>