$govuk-assets-path: "/register-for-vat/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/register-for-vat/assets/lib/hmrc-frontend/hmrc/";
$govuk-suppressed-warnings: (libsass, legacy-organisation-colours);

@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";
@import "accessible-autocomplete";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.autocomplete__menu {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

.ccms-loader {
   border: 12px solid #DEE0E2;
   border-radius: 50%;
   border-top-color: #005EA5;
   width: 40px;
   height: 40px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
 }

 .app-task-list__name {
    width: 100%;
 }

 .app-task-list__row {
    width:100%;
 }

 .no-wrap {
    white-space: nowrap;
 }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//extra styling classes for TOTAL-TurnOver Page
.govuk-table__row--no-border {
  border-bottom: none;
}

.govuk-list__right-indent {
    	padding-left: 40px;
    	margin: 0px;
 }
