@import models.view.sicAndCompliance.BusinessActivityDescription
@(businessActivityDescriptionForm:  Form[BusinessActivityDescription])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary
@main_template(title = messages("pages.business.activity.description.title")) {
    <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.business.activity.description.heading")</h1>
        @errorSummary(
            Messages("app.common.errorSummaryLabel"),
            businessActivityDescriptionForm,
            Seq("description")
        )
      <p>@Html(Messages("pages.business.activity.description.para1"))</p>

      @govHelpers.form(action = controllers.sicAndCompliance.routes.BusinessActivityDescriptionController.submit()) {
          <div class="form-group">
              <fieldset>

                  @govHelpers.textArea(
                          businessActivityDescriptionForm("description"),
                          '_divClass -> "form-group",
                          '_inputClass -> "form-control",
                          '_info -> messages("pages.business.activity.description.hint"),
                          '_labelClass -> "form-hint"
              )

              </fieldset>

          </div>

          <div class="form-group">
              <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
          </div>
      }

    </div>
</div>
}
