@(chargeExpectancyForm: Form[Boolean])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, verticalInputRadioGroup}

@main_template(title = messages("pages.vat.charge.expectancy.title")) {

  @errorSummary(
    Messages("app.common.errorSummaryLabel"),
    chargeExpectancyForm
  )

  <h1 class="form-title heading-large" id="pageHeading">@messages("pages.vat.charge.expectancy.heading")</h1>

  <p>@Html(Messages("pages.vat.charge.expectancy.para1"))</p>

  @govHelpers.form(action = features.returns.controllers.routes.ReturnsController.submitChargeExpectancy()) {
    <div class="form-group">
      @verticalInputRadioGroup(
        field = chargeExpectancyForm("chargeExpectancyRadio"),
        Seq(
          "true" -> messages("app.common.yes"),
          "false" -> messages("app.common.no")
        ),
        Map(),
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legend -> messages("pages.vat.charge.expectancy.heading"),
        '_legendClass -> "visually-hidden"
      )
    </div>

    <div class="form-group">
      <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
    </div>

  }
}
