@(chargeExpectancyForm: Form[Boolean])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, vatInputRadioGroup}

@main_template(title = messages("pages.vat.charge.expectancy.title")) {

  @errorSummary(
    Messages("app.common.errorSummaryLabel"),
    chargeExpectancyForm
  )

  <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.vat.charge.expectancy.heading")</h1>

  <p>@Html(Messages("pages.vat.charge.expectancy.para1"))</p>
  <p>@Html(Messages("pages.vat.charge.expectancy.para2"))</p>

  @govHelpers.form(action = features.returns.routes.ReturnsController.submitChargeExpectancy()) {
  <div class="form-group">
    <fieldset class="block">
        <span id="vatChargeRadio">
            @vatInputRadioGroup(
                field = chargeExpectancyForm("chargeExpectancyRadio"),
                Seq(
                  "true" -> Messages("pages.vat.charge.expectancy.radio.yes"),
                  "false" -> Messages("pages.vat.charge.expectancy.radio.no")
                ),
                '_labelAfter -> true,
                '_labelClass -> "block-label"
            )
        </span>
    </fieldset>
  </div>

  <div class="form-group">
    <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
  </div>

  }
}
