@()(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = messages("pages.start.date.confirmation.title")) {

    <header class="page-header">
        <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.start.date.confirmation.heading")</h1>
    </header>

    <div class="form-group">
        <p>@messages("pages.start.date.confirmation.para1")</p>
        <p>@messages("pages.start.date.confirmation.para2")</p>
    </div>

    @form(action = features.returns.controllers.routes.ReturnsController.submitMandatoryStart()) {
        <div class="form-group">
            <button class="button-get-started" type="submit" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>
    }
}