@import java.time.format.DateTimeFormatter
@import java.time.LocalDate
@import features.returns.DateSelection
@import features.returns.DateSelection._
@(startDateForm: Form[(DateSelection.Value, Option[LocalDate])], ctActiveDate : Option[LocalDate])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{errorSummary, vatInput, vatInputRadioGroup}

@main_template(title = messages("pages.startDate.title")) {

    @errorSummary(
        Messages("app.common.errorSummaryLabel"),
        startDateForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.startDate.heading")</h1>

    <p>@messages("pages.startDate.para1")</p>

    <div class="form-group">
        <div class="panel panel-border-wide">
            @messages("pages.startDate.warning")
        </div>
    </div>

    @govHelpers.form(action = features.returns.routes.ReturnsController.submitVoluntaryStart()) {
        <div class="form-group">

            @defining(DateTimeFormatter
                    .ofLocalizedDate(java.time.format.FormatStyle.LONG)
                    .withLocale(java.util.Locale.UK)) { formatter =>

                    @vatInputRadioGroup(
                        startDateForm("startDateRadio"),
                        Seq(
                            Some(company_registration_date.toString -> Messages("pages.startDate.radio.whenRegistered")),
                            ctActiveDate.map(d =>
                                business_start_date.toString -> messages("pages.startDate.radio.whenTrading", d.format(formatter))),
                            Some(specific_date.toString -> Messages("pages.startDate.radio.specificDate"))
                        ).flatten,
                        '_labelAfter -> true,
                        '_labelClass -> "block-label",
                        '_legend -> ""
                    )
                }

                <div class="panel panel-indent hidden" id="specific_date_panel">
                    <p>@messages("pages.startDate.panels.specificDate.para1")</p>
                    <ul class="list list-bullet">
                        <li>@messages("pages.startDate.panels.specificDate.bullet.2days")</li>
                        <li>@messages("pages.startDate.panels.specificDate.bullet.3months")</li>
                    </ul>

                    <span class="form-hint">@messages("pages.startDate.panels.specificDate.hint")</span>


                    @defining(startDateForm("startDate").errors.nonEmpty) { errorPresent =>
                        <div class="form-date @if(errorPresent) { form-group-error }">

                            <fieldset id="start-date">
                                <legend></legend>
                                <label><span class="hidden">Start date input</span>
                                @startDateForm.error("startDate").map { error =>
                                    <span class="error-notification" role="tooltip">
                                        @messages(error.message, error.args: _*)
                                    </span>
                                }
                                    @*this is to make the clickable link in the error summary jump to the relevant place in the page*@
                                    <input type="hidden" name="startDate" value="" id="startDate" class="hidden" />
                                </label>

                                @vatInput(
                                    startDateForm("startDate.day"),
                                    '_divClass -> "form-group",
                                    '_inputClass -> "form-control",
                                    '_maxlength -> 2,
                                    '_label -> Messages("pages.startDate.panels.specificDate.inputField.day"),
                                    '_labelClass -> "form-label"
                                )

                                @vatInput(
                                    startDateForm("startDate.month"),
                                    '_divClass -> "form-group",
                                    '_inputClass -> "form-control",
                                    '_maxlength -> 2,
                                    '_label -> Messages("pages.startDate.panels.specificDate.inputField.month"),
                                    '_labelClass -> "form-label"
                                )

                                @vatInput(
                                    startDateForm("startDate.year"),
                                    '_divClass -> "form-group form-group-year",
                                    '_inputClass -> "form-control",
                                    '_maxlength -> 4,
                                    '_label -> Messages("pages.startDate.panels.specificDate.inputField.year"),
                                    '_labelClass -> "form-label"
                                )
                            </fieldset>
                        </div>
                    }
                </div>
        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready($(function () {
        StartDatePage.init()
    }));
</script>