@import models.view.frs.AnnualCostsLimitedView
@(annualCostsInclusiveForm:  Form[AnnualCostsLimitedView], estimateVatTurnover : Long)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.errorSummary

@main_template(title = messages("pages.frs.costsLimited.title")) {

  <div class="column-two-thirds">

      <h1 class="form-title heading-xlarge" id="pageHeading">
          @messages("pages.frs.costsLimited.heading1")
          @estimateVatTurnover
          @messages("pages.frs.costsLimited.heading2")

      </h1>

      @errorSummary(
          Messages("app.common.errorSummaryLabel"),
          annualCostsInclusiveForm
      )

      <p>@Html(messages("pages.frs.costsLimited.p1"))</p>

      <details role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">@messages("pages.frs.costsLimited.panel.title")</span>
          </summary>
          <div class="panel panel-indent" id="details-content-0" aria-hidden="true">
              <p>@Html(messages("pages.frs.costsLimited.panel.p1"))</p>
              <ul class="list list-bullet">
                  <li>@messages("pages.frs.costsLimited.panel.bullet1")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet2")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet3")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet4")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet5")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet6")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet7")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet8")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet9")</li>
                  <li>@messages("pages.frs.costsLimited.panel.bullet10")</li>
              </ul>
          </div>
      </details>

      @govHelpers.form(action = controllers.frs.routes.AnnualCostsLimitedController.submit()) {
      <div class="form-group">
        <fieldset class="block">
            <span id="annualCostsLimitedRadio"/>
            @govHelpers.inputRadioGroup(
                field = annualCostsInclusiveForm("annualCostsLimitedRadio"),
                Seq(
                  AnnualCostsLimitedView.YES -> messages("app.common.yes"),
                  AnnualCostsLimitedView.YES_WITHIN_12_MONTHS -> messages("pages.frs.costsLimited.radio2"),
                  AnnualCostsLimitedView.NO -> messages("pages.frs.costsLimited.radio3")
                ),
                '_labelAfter -> true,
                '_labelClass -> "block-label"
            )
            <input type="hidden" name="hiddenTurnover" value="@estimateVatTurnover" id="hiddenTurnover" class="hidden" />

        </fieldset>
      </div>

      <div class="form-group">
        <button class="button-save-and-continue" role="button" id="save-and-continue">@messages("app.common.saveAndContinue")</button>
      </div>

      }

    </div>

}